<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item class="key-input">
    <ion-input [(ngModel)]="licenseKey" type="text" placeholder="enter license key..."></ion-input>
  </ion-item>

  <button ion-button full icon-left color="light" class="login-button" (click)="login()"><ion-icon name="log-in"></ion-icon> Log In</button>

</ion-content>