<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>

    <ion-buttons left>
      <button (click)="logout()" class="logout-button" ion-button icon-only><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list class="module-list">
		<button (click)="openModule(module)" ion-item *ngFor="let module of modules">
			{{module.title}}
		</button>
	</ion-list>

</ion-content>