<ion-header>

  <ion-navbar>
    <ion-title>LessonSelectPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-list class="lesson-list">
		<button (click)="openLesson(lesson)" ion-item *ngFor="let lesson of lessons">
			{{lesson.title}}
		</button>
	</ion-list>

</ion-content>